# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Draw.io backups
*.bkp

# Code Composer Studio files
# https://software-dl.ti.com/ccs/esd/documents/users_guide/ccs_project-management2.html#files-to-check-in
Debug
Release
.xdchelp
.config/
.launches/
targetConfigs/

